<div id="container">
    <h2>You are logged in. Here is a cat: </h2>
    <image src="http://www.petmania.ie/images/default-source/cat/petmania-kitten-1.jpg?sfvrsn=4"></image>

    <a href="/">Click me to go home.</a>

    <button><a href="/logout">Logout</a></button>

</div>