<h1>This page is private</h1>
<div>

    <iframe src="https://giphy.com/embed/3rRSlCiuhuWXel1yC9" width="480" height="313" frameBorder="0"
        class="giphy-embed" allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/cbc-sleep-sleepy-frenchie-3rRSlCiuhuWXel1yC9">via GIPHY</a></p>
</div>