<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="container">
    <button><a href="/signup">Sign up</a></button>
    <button><a href="/login">Login</a></button>
    <button><a href="/private">Protected page (requires authentication!)</a></button>
</div>